<header class="navbar">
  <nav style="text-align:center;">
    <ul style="display:inline-block; list-style:none; padding:0; margin:0;">
      <li style="display:inline; margin:0 15px;"><a href="{{ '/' | relative_url }}">ホーム</a></li>
      <li style="display:inline; margin:0 15px;"><a href="{{ '/about' | relative_url }}">概要</a></li>
      <li style="display:inline; margin:0 15px;"><a href="{{ '/contact' | relative_url }}">お問い合わせ</a></li>
      <li style="display:inline; margin:0 15px;"><a href="{{ '/contents' | relative_url }}">コンテンツ一覧</a></li>
    </ul>
  </nav>
</header>
